* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 14px;
  position: relative;
}
h1 {
  font-weight: bold;
  font-size: 75px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: -2px;
  padding: 0 0 45px 0;
  text-align: center;
}
h2 {
  font-family: 'PT Serif', serif;
  font-size: 40px;
  color: white;
  font-style: italic;
  font-weight: 400;
  padding: 20px 0;
  text-align: center;
}
h3 {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
h4 {
  font-size: 16px;
  color: #777777;
  font-style: italic;
  font-family: 'PT Serif', serif;
  text-align: center;
}
h5 {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  margin: 25px 0 10px 0;
  font-weight: bold;
}
h6 {
  font-size: 16px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 3px;
}
button {
  color: white;
  background: #fed136;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  outline: none;
  line-height: 65px;
  padding: 0 47px;
  border-radius: 3px;
  margin: 0 auto;
}
.colour_bg {
  background-color: #f7f7f7;
}
/*first screen style*/
.img_background {
  background: url("img/background.jpg") no-repeat;
  background-size: cover;
  /* Современные браузеры */
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
}
.center {
  text-align: center;
  color: #777777;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}
.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 20px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 115px;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  flex-grow: 2;
}
nav ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  color: white;
}
.logo {
  flex-grow: 5;
}
.main_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 585px;
  text-align: center;
}
/*end first screen style*/
section .container {
  padding: 120px 20px 90px 20px;
}
/*second screen style*/
.card_block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 65px 0 0 0;
}
.card {
  display: flex;
  flex-direction: column;
  width: 290px;
  margin: 25px 0;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background-color: white;
  padding: 0 0 30px 0;
}
.card p {
  font-size: 14px;
  color: #777777;
  font-family: 'Roboto Slab', serif;
}
.icon_card {
  width: 74px;
  height: 73px;
}
/*end second screen style*/
/*third screen style*/
.description_img {
  font-size: 14px;
  color: #777777;
  font-family: 'PT Serif', serif;
  font-style: italic;
}
.card figure {
  height: 302px;
  overflow: hidden;
}
/*end third screen style*/
/*fourth screen style*/
.hr_card_block {
  justify-content: flex-start;
  flex-direction: column;
  padding: 82px 0 0 0;
}
.hr_card_block:nth-child(2n) {
  align-self: flex-end;
}
.gorizontal_card {
  display: flex;
  margin-bottom: 93px;
  padding: 0 36px;
}
.gorizontal_card:nth-child(2n) {
  flex-direction: row-reverse;
}
.gorizontal_card:nth-child(2n+1) .gorizontal_card_text {
  align-items: flex-end;
  text-align: right;
}
.gorizontal_card:nth-child(2n+1) p {
  text-align: right;
}
.gorizontal_card_text {
  display: flex;
  flex-direction: column;
  flex: 2   1   200px;
}
.gorizontal_card_text h5 {
  margin: 0;
  padding-bottom: 5px;
}
.gorizontal_card_text h5:first-child {
  text-transform: uppercase;
}
.gorizontal_card_text p {
  padding-top: 10px;
  color: #777777;
  line-height: 21px;
}
.round_img {
  display: flex;
  min-width: 162px;
  max-height: 162px;
  border-radius: 95px;
  border: 10px solid #f1f1f1;
  overflow: hidden;
  margin: 0 45px;
  flex: 1   1   100px;
}
.round_img img {
  height: 100%;
}
.empty {
  display: flex;
  content: ' ';
  flex: 2   1   200px;
}
.round_btn {
  width: 162px;
  height: 162px;
  border-radius: 95px;
  border: 10px solid #f1f1f1;
  background: #fed136;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: WHITE;
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto;
  cursor: pointer;
}
/*end fourth screen style*/
.team {
  background: transparent;
}
.team p {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  margin-bottom: 10px;
}
.frame_photo {
  display: flex;
  justify-content: center;
  max-width: 220px;
  max-height: 220px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 0 23px 0;
}
.frame_photo img {
  height: 100%;
}
.logo_set img {
  display: inline-block;
}
.logo_set .container {
  padding: 60px 20px;
}
.logo_item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
footer p {
  display: flex;
  flex: 2   1   200px;
  color: #555555;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
footer .social_icons {
  display: flex;
  flex: 1   1   100px;
}
footer .empty {
  display: flex;
  content: ' ';
  flex: 2   1   200px;
}
footer a {
  display: inline-block;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px 0;
}
.icon {
  display: inline-block;
  width: 41px;
  height: 41px;
  margin: 0 5px;
}
.twitter {
  background-image: url("img/twitter.png");
}
.twitter:hover {
  background-image: url("img/twitter_hover.png");
}
.facebook {
  background-image: url("img/facebok.png");
}
.facebook:hover {
  background-image: url("img/facebok_hover.png");
}
.pinterest {
  background-image: url("img/pinterest.png");
}
.pinterest:hover {
  background-image: url("img/pinteres_hover.png");
}
.google {
  background-image: url("img/google.png");
}
.google:hover {
  background-image: url("img/google_hover.png");
}
.form_bg {
  background: url("img/bg_form.jpg") no-repeat;
  background-size: cover;
  /* Современные браузеры */
}
.form_bg h3 {
  color: white;
}
form {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 25px;
}
.form_wrap {
  display: flex;
  justify-content: space-between;
  height: 210px;
  margin-bottom: 30px;
}
.form_items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-right: 50px;
}
.form_items input {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 10px;
  font-family: 'Montserrat', sans-serif;
}
.form_items input[type="text"]::-webkit-input-placeholder {
  color: #bbb;
}
.form_items input[type="text"]::-moz-placeholder {
  color: #bbb;
}
textarea {
  flex-grow: 1;
  border-radius: 3px;
  padding: 20px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
textarea::-webkit-input-placeholder {
  color: #bbb;
}
textarea::-moz-placeholder {
  color: #bbb;
}
@media (max-width: 600px) {
  header {
    height: 500px;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 20px;
  }
  .main_info {
    height: auto;
  }
  section .container {
    padding: 90px 20px;
  }
  .empty {
    display: none;
  }
  .round_img {
    flex: 1   1   100px;
  }
  .gorizontal_card_text {
    flex: 2   1   100px;
  }
  .gorizontal_card:nth-child(2n) .round_img {
    margin: 0 45px 0 0;
  }
  .gorizontal_card:nth-child(2n+1) .round_img {
    margin: 0 0 0 45px;
  }
  .item {
    flex-direction: column;
  }
  footer p {
    flex: none;
    margin-bottom: 20px;
  }
  footer .social_icons {
    flex: none;
  }
  footer .empty {
    display: none;
  }
}
@media (max-width: 500px) {
  h3 {
    font-size: 30px;
  }
  section .container {
    padding: 40px 20px;
  }
  .card_block {
    padding: 30px 0 0 0;
  }
  .logo {
    flex-grow: 0;
  }
  nav {
    flex-direction: column;
    height: 60px;
    margin: 20px 0 30px 0;
  }
  nav ul {
    width: 100%;
    flex-grow: 0;
  }
  .round_img {
    display: block;
    min-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    flex: none;
  }
  .round_img {
    flex: 1   1   100px;
  }
  .gorizontal_card_text {
    flex: 30  1   100px;
  }
  .gorizontal_card {
    padding: 0;
  }
  .gorizontal_card:nth-child(2n) .round_img {
    margin: 0 25px 0 0;
  }
  .gorizontal_card:nth-child(2n+1) .round_img {
    margin: 0 0 0 25px;
  }
  form {
    margin-top: 30px;
  }
  .form_wrap {
    flex-direction: column;
    height: inherit;
  }
  .form_items {
    flex-direction: column;
    margin-right: 24px;
  }
  .form_items input {
    line-height: 40px;
    margin-bottom: 15px;
    height: 40px;
  }
  .form_bg {
    background-size: inherit;
  }
}
